.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1218px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 900px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1198px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Poppins;
  margin: 20px 278px 0 0;
}

.u-section-1 .u-group-1 {
  margin-top: 20px;
  margin-bottom: 0;
  box-shadow: 0 0 8px 0 rgba(0,0,0,1);
  min-height: 216px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: Poppins;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: Poppins;
  margin: 20px 0 0 39px;
}

.u-section-1 .u-group-2 {
  box-shadow: 0 0 8px 0 rgba(0,0,0,1);
  margin-top: 69px;
  margin-bottom: 0;
  min-height: 180px;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-4 {
  font-family: Poppins;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 31px 392px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 32px -7px 0 0;
}

.u-section-1 .u-group-3 {
  box-shadow: 0 0 8px 0 rgba(0,0,0,1);
  margin-bottom: 0;
  margin-top: 30px;
  min-height: 265px;
}

.u-section-1 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-6 {
  font-family: Poppins;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 31px 523px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 25px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  box-shadow: 0 0 8px 0 rgba(0,0,0,1);
  margin-bottom: 0;
  margin-top: 30px;
  min-height: 181px;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-8 {
  font-family: Poppins;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 30px 362px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1225px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    min-height: 217px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 212px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 343px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 112px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 243px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1807px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 43px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 43px;
    min-height: 332px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}